.wrap{
  position:relative;
  width:100%;
  min-height:100%;
  min-width:1080px;
  padding-bottom:40px;
}

.header_menu_wrap {
  position: fixed;
  display: flex;
  z-index: 500;
  background: #fff;
  width:100%;
  vertical-align:middle;
  padding: 10px 0;
}

.header_menu_wrap button {
  margin: auto 0 auto 0 !important;
}

.header_menu_wrap a {
  margin: 0 auto;
  font-size: 0;
}

#header{
  z-index:200;
  width:100%;
  height: 100px;
  background: #fcfcfc;
  border-bottom:1px solid  $line-color;
  margin-top: 70px;
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
  }
  .v-toolbar__content {
    height: 100px;
    display: block;
  }
  .UserManager {
    border-bottom: 1px solid  $line-color;
  }
  .UserManager .content {
    height: 30px;
  }
  .UserManager .content a {
    color: #7f828b;
  }
  .content ul {
    display: flex;
    margin-left: auto;
  }
  .content a, .content input {
    color: #333;
    font-family: '../NanumGothic.ttf';
  }
  .content li {
    margin: 0 10px;
    align-self: center
  }
  .content li:not(.menu_search_list) {
    border-bottom: 1px solid $line-color;
  }
  .content .v-text-field__details {
    display: none;
  }
  .content .v-input__slot {
    min-height: auto;
    margin-bottom: 0;
  }
}

#container{
  width:100%;
  overflow:hidden;
  background: #e3e3e3;
  &.line{
    //border-top:6px solid $line-color2;
    .content{
      height: 100vh;
    }
  }
  .content{
    border-left:1px solid $line-color;
    border-right:1px solid $line-color;
  }
}

#footer{
  width:100%;
  background: #fcfcfc;
  border-top:1px solid $line-color;
  .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
  }
  .content ul {
    display: flex;
    margin: 20px 0;
  }
  .content li {
    padding: 0 10px;
    align-self: center;
    font-family: '../NanumGothic.ttf';
  }
  .content a {
    color: #333;
  }
  .content ul:first-child {
    font-weight: bold;
  }

  .content ul:nth-child(2){
    color: #7f828b;
  }

  .content ul:nth-child(2) li:not(:last-child) {
    border-right: 1px solid #bcbcc2;
  }
  .content .footer_logo {
    font-family: '../NanumGothic.ttf';
    font-size: 3em;
    font-weight: 500;
    color: #7f828b;
  }
}
.v-application--wrap {
  padding-bottom: 0;
}
.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.content {
  position:relative;
  width:1280px;
  margin:0 auto;
  box-sizing:border-box;
}

.sing-up {
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &-header {
    margin-bottom: 20px;
  }
  &-input {
    width: 50%;
  }
  &-button {
    width: 50%;
  }
}

.back_all_wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 300;
  background: #000;
  opacity: 0.7;
  display: none;
}

@media screen and (max-width: 768px) {
  .back_all_wrap {
    display: none;
  }

  .header_menu_wrap button{
    margin-left: auto;
    z-index: 500;
    background: #fff;
  }
  #header {
    position: fixed;
    height: 100%;
    width: 80%;
    z-index: 400;
    margin-left: -80%;
    .content {
      width: 100%;
      display: block;
      height: auto;
    }
    .content img {
      display: none;
    }
    .content ul {
      display: block;
      padding: 0;
      text-align: center;
    }
    .content ul li a {
      display: block;
      padding: 30px;
    }
    .content form {
      margin: 20px;
    }
    .content ul li a:hover {
      background: #e3e3e3;
      transition: all .5s;
    }
    .UserManager {
      border: 0;
    }
    .UserManager .content {
      height: auto;
    }
    .UserManager .content a {
      color: #121212;
    }
  }

  #container{
    margin-top: 70px;
  }

  #__layout, #__nuxt, #app{
    min-width: auto;
  }

  #footer {
    .content, .content ul {
      width: 100%;
      display: block;
      text-align: center;
      padding: 0;
    }
    .content ul li{
      margin: 10px 0;
      border: 0 !important;
    }
  }


}
