* {
  font-family: '../NanumGothic.ttf' !important;
}

.textBlue {
  color: #007AFF;
}

.textRed {
  color: #ee6161;
}

.wrap{
  position:relative;
  width:100%;
  min-height:100%;
  min-width:1080px;
  padding-bottom:40px;
}
.header_menu_wrap {
  display: none;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $line-color;
  margin-bottom: 10px;
  padding: 10px 0;

  .header_menu_logo {
    font-size: 0;
    margin: 0 auto;
  }

  .v-list {
    padding: 0 !important;
  }

  .v-list-item {
    padding: 0 !important;
  }

  .v-list-item__title {
    line-height: 70px !important;
    border-bottom: 1px solid $line-color;
    cursor: pointer;
    padding: 0 20px;
  }

  .header_mobile_form {
    margin-top: auto;
  }

}


#header{
  z-index:200;
  width:100%;
  height: 100px;
  background: #fcfcfc;
  border-bottom:1px solid  $line-color;
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }
  .v-toolbar__content {
    height: 100px;
    display: block;
  }
  .user-manager {
    border-bottom: 1px solid  $line-color;
  }
  .user-manager .content {
    height: 30px;
  }
  .user-manager .content .header_user_color {
    color: #7f828b;
  }
  .content ul {
    display: flex;
    margin-left: auto;
  }
  .content a, .content input {
    color: #333;
    font-family: '../NanumGothic.ttf';
  }
  .content .font0 {
    font-size: 0;
  }
  .content li {
    margin: 0 10px;
    align-self: center
  }
  .content .v-text-field__details {
    display: none;
  }
  .content .v-input__slot {
    min-height: auto;
    margin-bottom: 0;
  }
}


#container{
  width:100%;
  &.line{
    //border-top:6px solid $line-color2;
    .content{
      height: calc(100vh - 80px);
    }
  }
  .content{
    border-left:1px solid $line-color;
    border-right:1px solid $line-color;
    .join-box {
      border: 1px solid $line-color;
      padding: 100px 40px;
      width: 50%;
      margin: 0 auto;
    }
    .sign-up-input {
      width: 100%;
    }
    .sign-up-header {
      margin-bottom: 15px;
    }
    .sign-up-button {
      margin: 0 auto;
      width: 100%;
    }
    .btn-img{
      background: rgb(254, 229, 0);
      border-radius: 10px;
      width: 80%;
      margin: 0 auto;
      height: 5vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .btn-img span {
      margin: 0 10px;
    }
    .btn-login {
      color: #7f828b;
      font-size: 15px;
      border-bottom: 1px  solid #7f828b;
      padding: 5px;
      margin-top: 40px ;
    }
    &.center {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .rankWrap {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    .interestWrap {
      width: 68%;
      margin: 0 1%;

      table {
        margin: 10px 0;
        width: 100%;
        text-align: center;
        border-top: 1px solid $line-color;
        td {
          padding: 10px;
          border-bottom: 1px solid $line-color;
          height: 45px;
          a {
            color: #333333;
            display: block;
          }
          img {
            height: 100%;
            cursor: pointer;
          }
        }
        tr:first-child {
          background: #f8f8f8;
        }
        tr:hover {
          background: #f8f8f8;
        }
      }
    }
  }
  .exploreWrap {
    width: 28%;
    margin: 0 1%;
    padding: 10px 0;
    overflow: hidden;
    .exploreItem {
      display: flex;
      justify-content: space-between;
      .exploreBtn {
        button {
          border: 1px solid $line-color;
          padding: 2px;
          height: 30px;
        }
      }
    }
    ul {
      margin: 10px 0;
      padding: 0;
      border: 1px solid $line-color;
      border-bottom: 0;

      li:first-child {
        text-align: center;
        background: #5e8bce;
        p{
          color: #ffffff;
        }
        .exploreListTile {
          font-weight: bold;
          font-size: 1.2em;
        }
      }
      li {
        padding: 20px;
        border-bottom: 1px solid $line-color;
        p{
          margin: 0;
        }
      }
    }
  }
  .boardWrap {
    width: 48%;
    margin: 0 1%;
    padding: 10px 0;
    .boardListWrap {
      margin: 10px 0;
      width: 100%;
      text-align: center;
      padding: 0;
      > .boardList {
        padding: 10px;
        border-bottom: 1px solid $line-color;
        border-top: 1px solid $line-color;
        ul {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px 0;
          border-bottom: 1px solid $line-color;
          p {
            margin: 0;
          }
          li:nth-child(2) {
            text-align: left;
            width: 310px;
            overflow:hidden;
            text-overflow:ellipsis;
            white-space:nowrap;
          }
        }
        ul:last-child {
          border: 0;
        }
      }
      tr:first-child {
        background: #f8f8f8;
      }
      tr:hover {
        background: #f8f8f8;
      }
    }
  }
}

#footer{
  width:100%;
  background: #fcfcfc;
  border-top:1px solid $line-color;
  .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
  }
  .content ul {
    display: flex;
    margin: 20px 0;
  }
  .content ul:nth-child(2) {
    padding: 0 34px;
  }
  .content ul:not(:nth-child(2)) li {
    padding: 0 10px;
    align-self: center;
    font-family: '../NanumGothic.ttf';
  }
  .content a {
    color: #333;
  }
  .content ul:first-child {
    font-weight: bold;
  }

  .content ul:nth-child(2){
    color: #7f828b;
  }

  .content ul:nth-child(2) li:not(:last-child):after {
    content: 'ã…£';
    display: inline-block;
    margin: 0 10px;
    color: $line-color;
  }
  .content .footer_logo {
    font-family: '../NanumGothic.ttf';
    font-size: 3em;
    font-weight: 500;
    color: #7f828b;
  }
}
.v-application--wrap {
  padding-bottom: 0;
}
.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.content {
  position:relative;
  width:1280px;
  margin:0 auto;
  box-sizing:border-box;
}

.sign-up {
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &-header {
    margin-bottom: 20px;
  }
  &-input {
    width: 50%;
  }
  &-button {
    width: 50%;
  }
}

.back_all_wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 300;
  background: #000;
  opacity: 0.7;
  display: none;
}

@media screen and  (max-width: 1280px){
  .dynamic-layout {
    width: 100vw;
    margin: 0;
    ul {
      margin-right: 10px;
    }
  }
}

@media screen and (max-width: 768px) {

  .header_menu_wrap {
    display: flex;
  }

  #header {
    display: none;
  }

  #__layout, #__nuxt, #app{
    min-width: auto;
  }

  #footer {
    display: none;
    .content {
      height: auto;
    }
    .content, .content ul {
      width: 100%;
      display: block;
      text-align: center;
      padding: 0;
    }
    .content ul li{
      margin: 10px 0;
      border: 0 !important;
    }
    .content ul:nth-child(2) li:after {
      display: none !important;
    }
  }
}
