* {
  font-family: '../NanumGothic.ttf' !important;
}

.textBlue {
  color: #007AFF;
}

.textRed {
  color: #ee6161;
}

.textOrange {
  color: #ffac5e;
}

.textYellow {
  color: #fff4b3;
}

.textGreen {
  color: #90ee90;
}


.wrap{
  position:relative;
  width:100%;
  min-height:100%;
  min-width:1080px;
  padding-bottom:40px;
}
.header_menu_wrap {
  display: none;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $line-color;
  margin-bottom: 10px;
  padding: 10px 0;

  .header_menu_logo {
    font-size: 0;
    margin: 0 auto;
  }

  .v-list {
    padding: 0 !important;
  }

  .v-list-item {
    padding: 0 !important;
  }

  .v-list-item__title {
    line-height: 70px !important;
    border-bottom: 1px solid $line-color;
    cursor: pointer;
    padding: 0 20px;
  }

  .header_mobile_form {
    margin-top: auto;
  }

}


#header{
  z-index:200;
  width:100%;
  height: 100px;
  background: #fcfcfc;
  border-bottom:1px solid  $line-color;
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }
  .v-toolbar__content {
    height: 100px;
    display: block;
  }
  .user-manager {
    border-bottom: 1px solid  $line-color;
  }
  .user-manager .content {
    height: 30px;
  }
  .user-manager .content .header_user_color {
    color: #7f828b;
  }
  .content ul {
    display: flex;
    margin-left: auto;
  }
  .content a, .content input {
    color: #333;
    font-family: '../NanumGothic.ttf';
  }
  .content .font0 {
    font-size: 0;
  }
  .content li {
    margin: 0 10px;
    align-self: center
  }
  .content .v-text-field__details {
    display: none;
  }
  .content .v-input__slot {
    min-height: auto;
    margin-bottom: 0;
  }
}


#container{
  width:100%;
  &.line{
    .content{
      min-height: calc(100vh - 200px);
    }
  }
  .content {
    border-left: 1px solid $line-color;
    border-right: 1px solid $line-color;
    .join-box {
      border: 1px solid $line-color;
      padding: 100px 40px;
      width: 50%;
      margin: 0 auto;
    }
    .sign-up-input {
      width: 100%;
    }
    .sign-up-header {
      margin-bottom: 15px;
    }
    .sign-up-button {
      margin: 0 auto;
      width: 100%;
      max-width: 500px;
    }
    .btn-img {
      background: rgb(254, 229, 0);
      border-radius: 10px;
      width: 80%;
      margin: 0 auto;
      height: 5vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .btn-img span {
      margin: 0 10px;
    }
    .btn-login {
      color: #7f828b;
      font-size: 15px;
      border-bottom: 1px solid #7f828b;
      padding: 5px;
      margin-top: 40px;
    }
    &.center {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .rank-wrap {
      display: flex;
      justify-content: space-between;
      padding: 20px;
      .popularity-wrap {
        h3 {
          height: 45px;
          padding: 10px;
        }
      }
      .commend-rank {
        tr:last-child {
          td{
            height: 50px;
          }
        }
      }
      .commend-wrap, .popularity-wrap, .interest-wrap {
        .commend-main-title {
          height: 150px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid $line-color;
          margin-bottom: 10px;
          background: #fafafa;
          border-radius: 30px;
          box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .05);
          .commend-main-txt {
            text-align: center;
            margin-top: 12px;
            font-size: 18px;
          }
          i {
            font-size: 50px;
            margin: 0 10px;
            color: #ea313e;
          }
          h2 {
            font-weight: bold;
            margin: 0 5px;
          }
        }
        .commend-wrap-tit {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .commend-title-wrap {
            display: flex;
            align-items: center;
          }
          &-tool {
            margin-left: 4px;
          }
        }
        .commend-btn-wrap {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          .table-field {
            position: relative;
            bottom: 8px;
          }
          .commend-activeBtn {
            background: #000;
          }
        }
        width: 48%;
        margin: 0 1%;

        .plus {
          color: #ee6161;
        }

        .minus {
          color: #007AFF;
        }

        .plus:before {
          content: '+'
        }

        table {
          margin: 10px 0;
          width: 100%;
          text-align: center;
          border-top: 1px solid $line-color;
          td {
            border-bottom: 1px solid $line-color;
            height: 45px;
            .more {
              color: #333333;
              display: block;
              cursor: pointer;
            }
            img {
              height: 100%;
              cursor: pointer;
            }
          }
          td:last-child {
            padding: 10px;
            width: 55px;
          }
          tr:first-child {
            background: #f8f8f8;
          }
          tr:hover {
            border-bottom: 1px solid #D6DBDF;
          }
        }
      }
      .interest-wrap {
        width: 68%;
        margin: 0 1%;
        .blank{
          display: flex;
          height: 90%;
          justify-content: center;
          align-items: center;
          &-area{
            display: flex;
            flex-direction: column;
            span{
              color: #121212;
              font-size: 22px;
            }
          }
        }
        &.empty {
          border-bottom: 1px solid #D6DBDF;
          .interestList {
            display: flex;
            height: 90%;
            justify-content: center;
            align-items: center;
            .empty-area {
              display: flex;
              flex-direction: column;
              span {
                color: #121212;
                font-size: 22px;
              }
              &-tit {
                margin-top: 12px;
              }
              a {
                margin-top: 12px;
                font-size: 22px;
              }
            }
          }
        }
        td:last-child {
          padding: 0 !important;
          width: auto !important;
        }
      }
    }
  }
  .explore-wrap {
    width: 28%;
    margin: 0 1%;
    overflow: hidden;
    .explore-item {
      display: flex;
      justify-content: space-between;
      .explore-btn {
        button {
          border: 1px solid $line-color;
          padding: 2px;
          height: 30px;
          min-width: auto !important;
        }
      }
    }
    ul {
      margin: 4px 0;
      padding: 0;
      border: 1px solid $line-color;
      border-bottom: 0;

      li:first-child {
        text-align: center;
        background: #5e8bce;
        p{
          color: #ffffff;
        }
        .explore-list-title {
          font-weight: bold;
          font-size: 1.2em;
        }
      }
      li {
        padding: 7px;
        border-bottom: 1px solid $line-color;
        p{
          margin: 0;
        }
      }
    }
    .zero {
      color: #121212;
      font-weight: bold;
    }

    .minus {
      color: #007AFF;
      font-weight: bold;
    }

    .plus {
      color: #ee6161;
      font-weight: bold;
    }
    .plus:before {
      content: '+'
    }
  }
  .board-wrap {
    width: 68%;
    margin: 0 1%;
    padding: 10px 0;
    .board-title-wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .board-list-wrap {
      margin: 10px 0;
      width: 100%;
      text-align: center;
      padding: 0;
      > .board-list {
        border-bottom: 1px solid $line-color;
        border-top: 1px solid $line-color;
        .board-list-wrap {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px;
          border-bottom: 1px solid $line-color;
          p {
            margin: 0;
          }
          .board-listThird {
            text-align: left;
            width: 310px;
            overflow:hidden;
            text-overflow:ellipsis;
            white-space:nowrap;
          }
        }
        .board-list-wrap:last-child {
          border: 0;
        }
      }
      tr:first-child {
        background: #f8f8f8;
      }
      tr:hover {
        background: #f8f8f8;
      }
    }
  }

  .details-warp {
    width: 70%;
    margin: 0 auto;
    .details-warp-title {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 50px 0;
    .details-warp-invest {
      font-weight: bold;

      span {
        .plus {
          color: red;
        }

        .minus {
          color: blue;
        }
      }
      .invest-wrap{
          font-weight: bold;

          span {
            .plus {
              color: red;
            }

            .minus {
              color: blue;
            }
          }
      }
    }
      .chart-wrap {
        width: 30%;
        .chart {
          height: 100px;
          border: 1px solid $line-color;
        }
      }
    }
    .details-content {
      .details-content-item {
        margin-bottom: 50px;
        h3{
          font-weight: bold;
        }
        .detail-list {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          margin: 10px 0;
          width: 100%;
          border-top: 1px solid $line-color;
          border-bottom: 1px solid $line-color;
          .detail-list-title {
            width: 100% !important;
            justify-content: center;
            font-weight: bold;
            background: #f8f8f8;;
          }
          .detail-item {
            width: 25%;
            padding: 30px 0;
            border-bottom: 1px solid $line-color;
            height: 45px;
            display: flex;
            align-items: center;
            .detail-title {
              flex: 1;
              text-align: center;
              font-weight: bold;
            }
            .detail-value {
              flex: 1;
              text-align: center;
            }
          }
          .moblie-last, .web-last {
            border-bottom: 0;
          }
        }
        .detail-Info-wrap {
          margin: 10px 0;
          li {
            display: flex;
            padding: 20px;
            border-bottom: 1px solid $line-color;
            p {
              margin: 0;
            }
            .detail-info-title {
              width: 15%;
            }

          }
        }
      }
      .stickchart {
        width: 100%;
        height: 300px;
        border: 1px solid $line-color;
        margin: 30px 0;
      }
    }
  }

  .mypage-main {
    .profile-section {
      margin-bottom: 20px;
      padding: 20px;
      .profile-info {
        border: 1px solid $line-color;
        border-radius: 10px;
        background-color: #f9f9f9;
        padding: 20px;
        display: flex;
        justify-content: space-around;
        .profile-wrap {
          .profile-item {
            margin: 5px;
            .item-label {
              font-weight: bold;
              color: #333;
            }
            .item-value {
              color: #666;
            }
          }
        }
        .profile-grad-wrap {
          align-self: flex-end;
          .profile-btn-wrap {

            .v-input__slot {
              min-height: 30px;
              label {
                top: auto;
              }
            }
            .nickname-wrap {
              display: flex;
              justify-content: space-between;
            }

            button {
              padding: 10px 20px;
              border: none;
              border-radius: 5px;
              cursor: pointer;
            }
            .password-button {
              background-color: #ABDEE6;
              &:hover {
                background-color: #83C9DC;
              }
            }
            .nickname-button {
              background-color: #FFED73;
              &:hover {
                background-color: #FFDB4D;
              }
            }

            .withdraw-button {
              background-color: #FCB9AA;
              &:hover {
                background-color: #F78B79;
              }
            }
          }
        }
      }
      .form-wrap {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .password-field {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .v-text-field--outlined {
            flex: 1;
          }
        }
        .v-messages__wrapper {
          height: 30px;
          .v-messages__message {
            font-size: 14px;
            line-height:  14px;
            color: red;
          }
        }
        .nickname-wrap, .password-wrap {
          display: flex;
          flex-direction: column;
          gap: 20px;

          .submit-button {
            align-self: flex-end;
          }
        }
        .mypage-btn-wrap {
          display: flex;
          justify-content: space-between;
          align-self: flex-end;
          button {
            margin: 0 2px;
          }
          .s-button {
            background-color: #b2d7e6 !important;
            color: #333333 !important;
          }
          .c-button {
            background-color: #ff6961;
          }
        }
      }



      &:not(:last-child) {
        border-bottom: 1px solid $line-color;
      }
      h4 {
        font-size: 20px;
        font-weight: bold;
        color: #333;
        margin-bottom: 10px;
        text-transform: uppercase;
      }


      table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        th,
        td {
          padding: 10px;
          border-bottom: 1px solid #ddd;
          text-align: center;
        }
        tr:first-child th {
          background-color: #f5f5f5;
        }
        tr:hover {
          background-color: #f0f0f0;
        }
      }
    }
  }

  .board-wrap {
    .board-title {
      padding: 20px 10px;
      border-bottom: 1px solid $line-color;
    }
    .board-content {
      padding: 20px;
      .board-group {
        margin: 10px 0;
      }
      .board-button-wrap {
        display: flex;
        justify-content: flex-end;
        button {
          padding: 10px 20px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
        }
        .board-button {
          background-color: #ABDEE6;
          &:hover {
            background-color: #83C9DC;
          }
        }
      }
    }
  }
  .board-write-wrap {
    .board-write-title {
      padding: 20px 10px;
      border-bottom: 1px solid $line-color;
    }
    .board-write-content {
      width: 70%;
      margin: 0 auto;
      padding: 20px;
      .board-write-group {
        margin: 10px 0;
      }
      .board-button-wrap {
        display: flex;
        justify-content: flex-end;
        button {
          padding: 10px 20px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
        }
        .board-write-button {
          background-color: #ABDEE6;
          &:hover {
            background-color: #83C9DC;
          }
        }
      }
    }
  }
  .invest-content {
    padding: 30px;
    .invest-text {
      margin: 20px 0;
      word-break: keep-all;
      white-space: normal;
      word-wrap: break-word;
    }
  }
  .board-detail-wrap {
    .board-detail-wrap-title {
      border-bottom: 1px solid $line-color;
      padding-bottom: 10px;
      .board-detail-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .board-detail-edit-button {
          background-color: #ABDEE6;
          border-radius: 5px;
          &:hover {
            background-color: #83C9DC;
          }
        }
        .board-detail-delete-button {
          background-color: #FCB9AA;
          border-radius: 5px;
          &:hover {
            background-color: #F78B79;
          }
        }
        .board-item-title {
          font-size: 24px;
          margin: 0;
          color: #333;
        }
      }
    }
    .board-item-content {
      font-size: 16px;
      line-height: 1.6;
      color: #555;
      min-height: 500px;
      padding: 20px 0;
      margin-bottom: 0;
      border-bottom: 1px solid $line-color;
    }
    .board-detail-comments-section {
      padding: 15px;
      .board-detail-comments-title {
        margin-bottom: 20px;
      }
      .board-detail-comment {
        padding: 10px 0;
        border-bottom: 1px solid #D6DBDF;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .board-detail-comment-content {
          display: flex;
          justify-content: space-between;
        }
      }
      .board-detail-comments-write-wrap {
        margin: 10px 0;
        .board-detail-comments-write-title {
          margin-bottom: 10px;
        }
      }
    }
  }
  .result-position {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .rank-wrap {
      justify-content: space-around;
    }
    .result-wrap {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 100px;
      border: 1px solid $line-color;
      align-items: center;
      .result-button {
        width: 100%;
      }
      .result-content {
        display: flex;
        flex-direction: column;
        margin: 10px;
        .result-text {
          display: flex;
          align-items: center;
          h3{
            margin: 0 10px;
          }
          .result-highlight {
            font-weight: bold;
            display: inline-block;
          }
        }
      }
    }
  }
}

#container-depth{
  width:100%;
  &.line{
    .content{
      height: calc(100vh - 200px);
    }
  }
  .content {
    border-left: 1px solid $line-color;
    border-right: 1px solid $line-color;

    .join-box {
      border: 1px solid $line-color;
      padding: 40px 10px;
      width: 50%;
      margin: 0 auto;
    }
    &.center {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .sign-up-input {
      width: 100%;
    }

    .sign-up-header {
      margin-bottom: 15px;
    }

    .sign-up-button {
      margin: 0 auto;
      width: 100%;
      max-width: 500px;
    }

    .btn-img {
      background: rgb(254, 229, 0);
      border-radius: 10px;
      width: 90%;
      margin: 0 auto;
      height: 5vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .btn-login {
      color: #7f828b;
      font-size: 15px;
      border-bottom: 1px solid #7f828b;
      padding: 5px;
      margin-top: 40px;
    }
  }
}

#footer{
  width:100%;
  background: #fcfcfc;
  border-top:1px solid $line-color;
  .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
  }
  .content ul {
    display: flex;
    margin: 20px 0;
  }
  .content ul:nth-child(2) {
    padding: 0 10px;
  }
  .content ul:not(:nth-child(2)) li {
    padding: 0 10px;
    align-self: center;
    font-family: '../NanumGothic.ttf';
  }
  .content a {
    color: #333;
  }
  .content ul:first-child {
    font-weight: bold;
  }

  .content ul:nth-child(2){
    color: #7f828b;
  }

  .content ul:nth-child(2) li:not(:last-child):after {
    content: 'ㅣ';
    display: inline-block;
    margin: 0 10px;
    color: $line-color;
  }
  .content .footer_logo {
    font-family: '../NanumGothic.ttf';
    font-size: 3em;
    font-weight: 500;
    color: #7f828b;
  }
}
.v-application--wrap {
  padding-bottom: 0;
}
.w-100 {
  width: 100% !important;
}

.w-50 {
  width: 50%;
}

.content {
  position:relative;
  width:1280px;
  margin:0 auto;
  box-sizing:border-box;

}

.sign-up-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  &-header {
    margin-bottom: 20px;
  }
  &-input {
    width: 50%;
  }
  &-button {
    width: 50%;
  }
}

.sign-up {
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &-header {
    margin-bottom: 20px;
  }
  &-input {
    width: 50%;
    max-width: 500px;
  }
  &-button {
    width: 50%;
  }
}


.roller-container {
  display: flex;
  height: 100%;
  justify-content: center;
  .rolling-banner {
    overflow: hidden;
    width: 100%;
    height: 55px;
    font-size: .875rem;
    color: #fff;
    letter-spacing: -.075em;
    background-color: #f3f5f7;

    .name {
      display: block;
      color: #121212;
      font-weight: bold;
    }

    a {
      color: #fff;
      text-decoration: none;
      white-space: nowrap;
    }

    > .wrap {
      position: relative;
      width: 580px;
      height: 40px;
      margin: 0 auto;
      box-sizing: border-box;
      overflow: hidden;

      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 0;
        width: 20px;
        height: 100%;
        z-index: 1;
        background: linear-gradient(to right, rgba(243, 245, 247, 1) 0%, rgba(243, 245, 247, 0.75) 51%, rgba(243, 245, 247, 0) 100%);
      }

      &::before {
        left: 0;
      }

      &::after {
        right: 0;
        background: linear-gradient(to right, rgba(243, 245, 247, 0) 0%, rgba(243, 245, 247, 0.75) 51%, rgba(243, 245, 247, 1) 100%);
      }
    }
  }
}


.roller {
  position: absolute;
  height: 100%;

  > ul {
    margin: 0;
    list-style: none;
    padding: 9px 0 0 !important;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    .kapi {
      padding-right: 30px;
      width: 120px;
      span {
        padding-right: 3px;
      }

      .rate {
        color: #ee6161;
        font-weight: bold;
      }

      .zero {
        color: #121212;
        font-weight: bold;
      }

      .minus {
        color: #007AFF;
        font-weight: bold;
      }

      .plus {
        color: #ee6161;
        font-weight: bold;
      }

      .plus:before {
        content: '+'
      }

      .status {
        position: relative;
      }
    }
  }
}

/* 애니메이션 */
.roller.original {
  animation: 100s linear 0s infinite normal forwards running rollingleft1;
}

.roller.clone {
  animation: 100s linear 0s infinite normal none running rollingleft2;
}

@keyframes rollingleft1 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  50.0001% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes rollingleft2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}

@media screen and  (max-width: 1280px){
  .dynamic-layout {
    width: 100vw;
    margin: 0;
    ul {
      margin-right: 10px;
    }
    max-width: 100%;
  }
}


@media screen and (max-width: 768px) {

  .header_menu_wrap {
    display: flex;
    margin: 0;
  }

  #header {
    display: none;
  }

  #__layout, #__nuxt, #app{
    min-width: auto;
  }

  #container {
    .v-carousel {
      display: none;
    }

    .content {
      width: 100%;
      overflow: hidden;
      .rank-wrap {
        display: block;
        padding: 0;
        .commend-wrap, .popularity-wrap, .interest-wrap, .explore-wrap, .board-wrap{
          .commend-main-title {
            i {
              font-size: 30px;
            }
            h3{
              font-size: 1em
            }
            h2 {
              font-size: 1.1em
            }
          }
          .details-warp {
            width: 100%;
            .detail-item {
              width: 50%;
          }
            .web-last {
              border-bottom: 1px solid $line-color !important;
            }
          }
          width: 100%;
          padding: 20px;
          .board-listThird {
            width: 200px !important;
          }


          td, p, span, a{
            font-size: 0.9em
          }

          .profile-section {
            .profile-info span {
              font-size: 14px;
            }
            .profile-btn-wrap {
              display: flex;
              flex-direction: column;
              button {
                align-self: flex-end;
                margin: 1px 0;
              }
            }
            button{
              width: 100%;
              span {
                font-size: 14px;
              }
            }
          }

          .mypage-item {
            padding: 0;
          }
        }
        .result-wrap {
          padding: 30px;
        }
      }
    }

    .rolling-banner > .wrap {
      width: 100%;
    }
  }

  #footer {
    display: none;
    .content {
      height: auto;
    }
    .content, .content ul {
      width: 100%;
      display: block;
      text-align: center;
      padding: 0;
    }
    .content ul li{
      margin: 10px 0;
      border: 0 !important;
    }
    .content ul:nth-child(2) li:after {
      display: none !important;
    }
  }
}

.tooltip-text {
  color: #FFFFFF;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-start {
  width: 25px;
  height: 25px;
}

.font-black {
  color: #121212 !important;
}

//.table-input {
//  margin-right: 12px !important;
//  .v-text-field__details {
//    display: none;
//  }
//  fieldset {
//    height: 35px;
//  }
//  .v-text-field__slot {
//    height: 32px;
//  }
//}
.search-list {
  position: absolute !important;
  &-item {
    border-bottom: 1px solid #D4D9E1;
  }
  &-item:last-child {
    border-bottom: none;
  }
}
